@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply m-0 w-fit text-3xl font-bold;
  }
  input {
    @apply rounded-xl px-4 py-2 outline-none;
  }
}

@layer components {
  .filter-btn {
    @apply flex items-center space-x-1 rounded-full border px-2 py-1 text-white outline-none;
  }
  .filter-btn-active {
    @apply filter-btn border-solid border-white;
  }
  .filter-btn-inactive {
    @apply filter-btn border-dashed border-gray;
  }

  .popup {
    @apply mt-2 rounded-lg bg-tertiary px-2 py-1;
  }
}

/* Typed on my Mode Envoy */
