@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply w-fit m-0 text-3xl font-bold;
  }
  input {
    @apply px-4 py-2 rounded-xl outline-none;
  }
}

@layer components {
  .filter-btn {
    @apply flex items-center space-x-1 px-2 py-1 rounded-full border text-white outline-none;
  }
  .filter-btn-active {
    @apply filter-btn border-solid border-white;
  }
  .filter-btn-inactive {
    @apply filter-btn border-dashed border-gray;
  }

  .popup {
    @apply px-2 py-1 bg-tertiary mt-2;
  }
}