name: Update Database

concurrency:
  group: db
  cancel-in-progress: false

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * *"

jobs:
  update_db:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Setup pnpm
        run: corepack enable && corepack prepare pnpm@latest --activate

      - name: Install Node Dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Application Database
        run: pnpm run generate:db
        env:
          NODE_OPTIONS: --max-old-space-size=4096
          ENTRIES_DB_URL: ${{ secrets.ATLAS_URI }}

      - name: Setup Go
        uses: actions/setup-go@v5

      - name: Push Application Database
        run: go run etl.go --phases=push
        env:
          DO_SPACES_ENDPOINT: ${{ secrets.DO_SPACES_ENDPOINT }}
          DO_SPACES_ACCESS_KEY_ID: ${{ secrets.DO_SPACES_ACCESS_KEY_ID }}
          DO_SPACES_SECRET_ACCESS_KEY: ${{ secrets.DO_SPACES_SECRET_ACCESS_KEY }}

      - name: Generate Application Database
        run: npm run generate:db
        env:
          NODE_OPTIONS: --max-old-space-size=4096
          ENTRIES_DB_URL: ${{ secrets.ATLAS_URI }}

      - name: Push Application Database
        run: go run etl.go --phases=push
        env:
          DO_SPACES_ENDPOINT: ${{ secrets.DO_SPACES_ENDPOINT }}
          DO_SPACES_ACCESS_KEY_ID: ${{ secrets.DO_SPACES_ACCESS_KEY_ID }}
          DO_SPACES_SECRET_ACCESS_KEY: ${{ secrets.DO_SPACES_SECRET_ACCESS_KEY }}

      - name: Deploy Application
        run: doctl apps create-deployment ${{ secrets.DIGITALOCEAN_APP_ID }} --force-rebuild --wait
